#archives_navi ul li {
    display: inline;
}

#archives_navi_years li:first-child:after {
    content: " | ";
}

#archives_navi_years li:last-child:before {
    content: " | ";
}

#archives_navi_months li:after {
    content: " | ";
}

#archives_navi_months li:first-child:before {
    content: "";
}

#archives_navi_months li:last-child:before {
    content: "";
}

#archives_navi_months li:last-child:after {
    content: "";
}

#archives_navi_days li:last-child:after {
    content: " | ";
}

.archives_list {
    float:left;
    width:40%;
}

.archives_list ul { 
    margin:0;
    padding:0;
}

.archives_list li {
    list-style-type: none;
    line-height: 1.25em;
}

#archives_navi {
    margin-bottom: 20px;
    font-size:11px;
    color:#bbb;
}

#archives_navi ul { 
    display:inline;
    margin:0;
    padding:0;

}