
body {
	text-align: center;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#main {
	margin: 5%;
	margin-bottom: 10%;
	margin-top: 0px;
	text-align: left;
	background-color: #fff;
	padding: 0;
}

#nav {
    display:none;
}

#footer {
    position:fixed;
    right: 0;
    bottom: 0;
    font-size:small;
    text-align:right;
    background-color: #fff;
    padding: 20px;
    padding-bottom:30px;
    padding-right:40px;
    border-top:1px dotted #ccc;
    color: #999;
    width:100%;
    background-color:#fff;
}

#content {
	 padding-top: 2em;
}

h1 {
	margin-top: 0;
}

h2 {
    margin-top: 0;
}

.admin-section {
	background-image: url("/images/stripes_bg.gif");
	border-top: 1px solid #BECCCC;
	border-bottom: 1px solid #BECCCC;
	padding: 40px;
	position: relative;
	text-align: left;
}

pre.admin-debug {
	background: none repeat scroll 0 0 #000000;
	color: #00FF00;
	font-size: 14px;
	margin: 0;
	padding: 1em;
}

p.error {
	background-color: #f99;
}

p.message {
	background-color: #9f9;
}

.photo {
    width: 670px;
    max-width: 670px;
    float:left;
}

.photo_sidebar {
    float:left;
    /* border:solid thin; */
    /* this can't be the correct way to do this... */
    margin-top: 3em;
    width:210px;
}

.photo_navi {
}

.photo_before {
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.photo_after {
    float: left;
    width: 100px;
    height: 100px;
}

.photo_meta {
    margin-top: 20px;
    font-size: 11px;
}

.photo_meta ul {
    padding: 0px;
    margin: 0px;
}

.photo_meta ul li {
    list-style-type: none;
}

.photo_cite {
    font-size:small;
}

.photo_when {
    font-size:small;
}

.photo_exif {
    width: 50%;
}

.photo_exif td {
    padding: 5px;
    font-size:small;
}

.photo_exif_tag {
    border: solid thin;
}

.photos_user_photo {
    margin-bottom: 30px;
    color:#999;
}

.photo_title a {
    color:#000;
    text-decoration: none;
}

/*pagination*/
#pagination{

}

/* pagination header */
.pag_head{margin:0 0 10px;text-align:center;border: 1px solid #fff;display:none;}

/* pagination active items */
.ds_pag{
    text-decoration: none;
    border: 1px solid #AAA;
    padding: 0.3em 0.5em;
    color: #0BBDFF;
    margin: 0 2px;
    background:#fff;
}

/* pagination inactive items */
.pag_inactive{
    border: 1px solid #AAA;
    padding: 0.3em 0.5em;
    color: #999;
    margin: 0 2px;
    background:#fff;
}
/* pagination ellipses */
.pag_ellipses{
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0.1em 0.1em;
    color: #999;
    margin: 0;
    background:#fff;
}

.photo_map {
    float: left;
    margin-bottom: 20px;
}

.photo_map_blurb {
    width:200px;
    font-size:11px;
}

.map {
    width: 210px;
    height: 210px;
    border: solid thin;
    background-color: #ccc;
    margin: 0;
    margin-bottom:10px;
}

.place_map {
    width: 100% !important;
    margin-bottom: 5px;
}

.place_map h2 {
    background-color:#fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: auto !important;
    border-bottom: solid thin;
    border-right: solid thin;
    opacity: .95;
}

/* sudo finish this */
/* http://jonraasch.com/blog/css-rounded-corners-in-all-browsers */

.marker {
    background-color: #0bbdff;
    border:2px solid #000;
    padding:5px;
    font-size:11px;
    font-weight:700;
    color:#fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.marker_text {
    display: none;
    z-index:0;
}

.marker:hover {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

.marker:hover .marker_text {
    display: block;
    z-index:400;
}

.place_hierarchy {
    padding: 0px;
    margin: 0px;
    font-size: small;
    margin-bottom: 25px !important;
    color:#ccc;
}

.place_hierarchy li {
    display: inline;
}

.crying_cat_face {
    float:right;
    font-size: 10em;
    color:#ccc;
}

.placetypes {
    margin-bottom: 25px;
}

.placetypes ul {
    padding: 0px;
    margin: 0px;
}

.placetypes ul li {
    list-style-type: none;
    display:inline;
}
