
body {
	text-align: center;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#main {
	margin: 5%;
	margin-bottom: 10%;
	margin-top: 0px;
	text-align: left;
	background-color: #fff;
	padding: 0;
}

#nav {
    display:none;
}

#god {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    text-align:left;
}

#god #nav {
    display:block;
    margin-bottom:25px;
    font-size: small;
}

#footer {
    position:fixed;
    right: 0;
    bottom: 0;
    font-size:small;
    text-align:right;
    background-color: #fff;
    padding: 20px;
    padding-bottom:30px;
    padding-right:40px;
    border-top:1px dotted #ccc;
    color: #999;
    width:100%;
    background-color:#fff;
}

#content {
	 padding-top: 2em;
}

h1 {
	margin-top: 0;
}

h2 {
    margin-top: 0;
}

.admin-section {
	background-image: url("/images/stripes_bg.gif");
	border-top: 1px solid #BECCCC;
	border-bottom: 1px solid #BECCCC;
	padding: 40px;
	position: relative;
	text-align: left;
}

pre.admin-debug {
	background: none repeat scroll 0 0 #000000;
	color: #00FF00;
	font-size: 14px;
	margin: 0;
	padding: 1em;
}

p.error {
	background-color: #f99;
}

p.message {
	background-color: #9f9;
}

.photo {
    width: 670px;
    max-width: 670px;
    float:left;
    margin-bottom:10%;
}

.photo_sidebar {
    float:left;
    /* border:solid thin; */
    /* this can't be the correct way to do this... */
    margin-top: 3em;
    width:210px;
    margin-bottom:10%;
}

.photo_navi {
}

.photo_before {
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.photo_after {
    float: left;
    width: 100px;
    height: 100px;
}

.photo_meta {
    margin-top: 20px;
    font-size: 11px;
}

.photo_meta ul {
    padding: 0px;
    margin: 0px;
}

.photo_meta ul li {
    list-style-type: none;
    line-height: 1.25em;
}

.photo_cite {
    font-size:small;
}

.photo_when {
    font-size:small;
}

.photo_exif {
    width: 50%;
}

.photo_exif td {
    padding: 5px;
    font-size:small;
}

.photo_exif_tag {
    border: solid thin;
}

.photos_user_photo {
    margin-bottom: 30px;
    color:#999;
}

.photo_title a {
    color:#000;
    text-decoration: none;
}

/*pagination*/
#pagination{

}

/* pagination header */
.pag_head{margin:0 0 10px;text-align:center;border: 1px solid #fff;display:none;}

/* pagination active items */
.ds_pag{
    text-decoration: none;
    border: 1px solid #AAA;
    padding: 0.3em 0.5em;
    color: #0BBDFF;
    margin: 0 2px;
    background:#fff;
}

/* pagination inactive items */
.pag_inactive{
    border: 1px solid #AAA;
    padding: 0.3em 0.5em;
    color: #999;
    margin: 0 2px;
    background:#fff;
}
/* pagination ellipses */
.pag_ellipses{
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0.1em 0.1em;
    color: #999;
    margin: 0;
    background:#fff;
}

.photo_map {
    float: left;
    margin-bottom: 20px;
}

.photo_map_blurb {
    width:200px;
    font-size:11px;
}

.map {
    width: 210px;
    height: 210px;
    border: solid thin;
    background-color: #ccc;
    margin: 0;
    margin-bottom:10px;
}

/* http://prag.ma/code/htmapl/examples/flickr.html */

.map-tile {
    opacity: 0;
}

.map-tile-loaded {
    -webkit-animation-name: 'fade-in';
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.2s;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* end of flickr htmapl stuff */

.place_map {
    width: 100% !important;
    margin-bottom: 5px;
}

.place_map h2 {
    background-color:#fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: auto !important;
    border-bottom: solid thin;
    border-right: solid thin;
    opacity: .95;
}

/* sudo finish this */
/* http://jonraasch.com/blog/css-rounded-corners-in-all-browsers */

.marker {
    background-color: #0bbdff;
    border:2px solid #000;
    padding:5px;
    font-size:11px;
    font-weight:700;
    color:#fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.marker_text {
    display: none;
    z-index:0;
}

.marker:hover {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

.marker:hover .marker_text {
    display: block;
    z-index:400;
}

.place_hierarchy {
    padding: 0px;
    margin: 0px;
    font-size: small;
    margin-bottom: 25px !important;
    color:#ccc;
}

.place_hierarchy li {
    display: inline;
}

.crying_cat_face {
    float:right;
    font-size: 10em;
    color:#ccc;
}

.placetypes {
    margin-bottom: 25px;
}

.placetypes ul {
    padding: 0px;
    margin: 0px;
}

.placetypes ul li {
    list-style-type: none;
    display:inline;
}

.camera_models {
    margin-bottom: 25px;
    font-size:small;
}

.camera_models ul {
    padding: 0px;
    margin: 0px;
}

.camera_models ul li {
    list-style-type: none;
    display:inline;
}

.camerafinder_widget {
    border:solid thin;
    min-height:110px;
    max-height:110px;
    width:25%;
    float:left;
    margin-right:10px;
    margin-bottom:20px;
    padding:25px;
}

.camerafinder_header {
    margin-bottom: 10px;
}

.camerafinder_header img {
    float:left;
    margin-right:25px;
}

.camerafinder_header h3 {
    font-weight:700;
    margin: 0px;
}

.other_places {
    font-size:small;
    margin-bottom: 50px;
    margin-top: 40px;
}

.other_places ul {
    padding: 0px;
    margin: 0px;
    width:30%;
    margin-right: 3%;
    float:left;
}

.other_places ul li {
    list-style-type: none;
    line-height: 1.5em;
}

table {
}

th {
    color:#999;
    border-bottom: solid thin;
    padding-bottom:10px;
}

td {
    padding-right: 10px;
    padding-top: 10px;
}

#path_alias_conflict {
    font-size:small;
    padding:15px;
    background-color:#eee;
    margin-bottom: 20px;
}

#path_alias_conflict_details {
    display: none;
}

#path_alias_conflict_details ul li {
    line-height:1.5em;
    margin-bottom:5px;
}

#archives_navi {
    margin-bottom: 20px;
    font-size:11px;
    color:#bbb;
}

#archives_navi ul { 
    display:inline;
    margin:0;
    padding:0;

}

#archives_navi ul li {
    display: inline;
}

#archives_navi_years li:first-child:after {
    content: " | ";
}

#archives_navi_years li:last-child:before {
    content: " | ";
}

#archives_navi_months li:after {
    content: " | ";
}

#archives_navi_months li:first-child:before {
    content: "";
}

#archives_navi_months li:last-child:before {
    content: "";
}

#archives_navi_months li:last-child:after {
    content: "";
}

#archives_navi_days li:last-child:after {
    content: " | ";
}

.archives_list {
    float:left;
    width:40%;
}

.archives_list ul { 
    margin:0;
    padding:0;
}

.archives_list li {
    list-style-type: none;
    line-height: 1.25em;
}

.photo_faved {
    text-shadow: 0.1em 0.1em 0.02em #fff !important;
}

.photo_faved:hover {
    opacity:.8;
}

.photo_notfaved {
}

.isnot_registered {
    font-size:small;
    font-style:italic;
    margin-bottom: 20px;
    max-width:640px;
}

#modal_flickr_auth {
    font-size: small;
}

#modal_flickr_auth .buttons {
    text-align:center;
}

#modal_flickr_auth .buttons button {
    border: solid thin;
    padding: 5px;
}

button a {
    text-decoration: none;
}