.photo_container {
    margin-left:auto;
    margin-right: auto;
    margin-bottom:2em;
}

.photo {
    margin-bottom: 2em;
}

.photo-static {

}

.photo img {
    border: 2em solid black;
}

.photo_navi {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

.photo_sidebar {
    min-width:210px;
}

.photo_before {
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}

.photo_after {
    float: left;
    width: 100px;
    height: 100px;
}

.photo_meta {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 11px;
    line-height: 1.5em;
}

.photo_meta ul {
    padding: 0px;
    margin: 0px;
}

.photo_meta ul li {
    list-style-type: none;
    line-height: 1.25em;
}

.photo_cite {
    font-size:small;
    text-align:left;
}

.photo-caption {
    margin-top:1em;
    font-size:small;
}

.photo_exif {
    width: 50%;
}

.photo_exif td {
    padding: 5px;
    font-size:small;
}

.photo_exif_tag {
    border: solid thin;
}

.photos_user_photo {
    margin-bottom: 30px;
    color:#999;
}

.photo_title {
    text-align:left;
    font-weight: 100;
    margin-bottom:1em;
}

.photo_title a {
    color:#000;
    text-decoration: none;
}


.photo_map {
    float: left;
    margin-bottom: 20px;
}

.photo_map_blurb {
    width:200px;
    font-size:11px;
    line-height: 1.5em;
}

.photo_faved {
    text-shadow: 0.1em 0.1em 0.02em #fff !important;
}

.photo_faved:hover {
    opacity:.8;
}

.photo_notfaved {
}

.thumbnail {
    height: 320px;
    width: 320px;
}

.thumbnail img {
    max-width:320px;
    max-height:320px;
}

.thumbnail .photo-static {
    max-width:320px;
    max-height:320px;
}

.thumbnail-li .photo-caption {
    max-width:320px;
    max-height:100px;
    height: 100px;
    width:320px;
    font-size:11px;
    overflow-y:hidden;
}

.thumbnail-li .photo-caption div {
    display:inline;
}

@media (max-width: 480px) {

    h2 {
	display:none;
    }

    .photo img {
	border: none !important;
    }

    .photo-caption div {
	display: inline;
    }

    .thumbnail {
	height: auto !important;
	min-height: none !important;
    }

    .thumbnail-li {
	padding-bottom: 1em !important;
    }

    .thumbnail-li .photo-caption {
	height: auto !important;
    }
}